<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0-preview5-19254-05" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.15" targetFramework="net472" />
  <package id="MySql.Data.Entity" version="7.0.7-m61" targetFramework="net472" />
</packages>